html,
body {
  padding: 0;
  margin: 0;
}
#wrapper {
  height: 100vh;
  font-size: 14px;
}
#wrapper > .el-row {
  height: 100%;
}
#wrapper > .el-row > .el-col {
  height: 100%;
  padding: 5px;
}

.el-button--mini {
  padding: 5px 10px;
}
.el-input__inner {
  padding: 0 5px;
}
.el-tabs__new-tab {
  margin-right: 15px;
  background-color: #409eff;
  color: #666;
  padding: 5px;
  margin-top: 2px;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-weight: bolder;
}
.el-tabs__new-tab:hover {
  color: #000;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-closable .el-icon-close {
  width: 14px;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-closable {
  padding-left: 13px;
  padding-right: 13px;
}
.el-input-group__append button.el-button {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
#wrapper .el-tabs {
  height: 100%;
}
#wrapper .el-tabs > .el-tabs__content {
  height: calc(100% - 56px);
}
#wrapper .el-tabs > .el-tabs__content > .el-tab-pane {
  height: 100%;
}
.global-ctrl {
  height: 40px;
  line-height: 40px;
}
.tree-wrapper {
  height: calc(100% - 80px);
  overflow-y: auto;
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.custom-tree-node .context-menu {
  display: none;
}
.custom-tree-node:hover .context-menu {
  display: flex;
}

.title-section {
  padding: 0 10px 10px;
}
.title-section .el-col:first-child {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.title-section .el-col:last-child {
  padding-left: 10px;
}
.title-section .el-breadcrumb .el-button {
  display: none;
  margin-left: 5px;
}
.title-section .el-breadcrumb {
  height: 40px;
  line-height: 40px;
  margin-left: 5px;
}
.title-section .el-breadcrumb:hover .el-button {
  display: inline;
}

.info-section {
  padding-bottom: 10px;
}
.info-section .el-col {
  padding: 0 10px;
}
.func-section {
  height: calc(100% - 115px);
}
.func-section .el-col {
  padding: 0 10px;
}
.request-params,
.json-viewer {
  height: 100%;
  position: relative;
}
#wrapper .el-tabs--border-card {
  height: calc(100% - 10px);
}
#wrapper .el-tabs--border-card > .el-tabs__content {
  padding: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  overflow-y: auto;
  position: absolute;
}
.json-root {
  position: relative;
  padding-left: 20px;
}
.json-node {
  position: relative;
  padding-left: 20px;
  border-left: 1px dotted #ccc;
}
.node-ctrl {
  position: absolute;
  left: 6px;
  color: #999;
  cursor: pointer;
}
.node-placeholder {
  color: #ccc;
  padding: 0 3px;
  display: inline;
}
.node-remark {
  color: #ccc;
  margin-left: 10px;
}
.json-node .node-key {
  color: #933;
}
.json-node .node-value {
  color: #333;
}
.json-node .node-bracket {
  color: #963;
}
.json-node .node-dot {
  color: #ccc;
}
.json-node .node-quotes {
  color: #963;
}
.json-node .node-colon {
  color: #333;
  padding: 0 2px;
}
.params-list {
  font-size: 14px;
  border: 1px solid #ccc;
}
.param-item {
  border-bottom: 1px solid #ccc;
  height: 33px;
  position: relative;
}
.param-item:last-child {
  border-bottom: none;
}
.header > .param-key,
.param-value {
  padding-left: 10px;
  line-height: 30px;
}
.param-item > div {
  border-left: 1px solid #ccc;
  height: 29px;
  padding: 2px;
  line-height: 28px;
}
.param-item > div:first-child {
  border-left: none;
}
.param-item .param-ctrl {
  float: left;
  width: 35px;
  text-align: center;
}
.param-item .param-key {
  float: left;
  width: 120px;
}
.param-item .param-value {
  margin-left: 165px;
  width: calc(100% - 210px);
}
.param-item .param-operate {
  position: absolute;
  right: 10px;
  top: 0;
  width: 25px;
}
.param-item .param-operate .el-button {
  color: #f00;
  display: none;
  text-align: center;
}
.param-item:hover .el-button {
  display: block;
}
